@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: #6366f1;
  --color-dark-100: #d1d5db;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

#showcase {
  @apply relative;

  .media {
    @apply relative lg:overflow-hidden;

    video {
      @apply w-full object-cover object-center;
    }

    .mask {
      @apply absolute h-full top-0 lg:-top-20 xl:top-0;

      img {
        @apply h-full scale-150 lg:scale-100;
        transform: matrix(80, 0, 0, 80, 0, 0);
      }

      @media (max-width: 1024px) {
        img {
          transform: matrix(1, 0, 0, 1, 0, 0);
        }
      }
    }
  }

  .content {
    @apply relative z-10 my-5 lg:-mt-40 bg-black font-semibold text-xl text-dark-100 lg:opacity-0;

    .wrapper {
      @apply container mx-auto px-5 pb-20 2xl:px-0 flex flex-col lg:flex-row justify-center gap-20;
    }

    h2 {
      @apply font-semibold text-3xl lg:text-7xl text-white;
    }

    h3 {
      @apply font-semibold text-xl lg:text-5xl text-white;
    }
  }
}

#features {
  @apply pt-40 relative;

  h2 {
    @apply text-white font-semibold text-3xl lg:text-7xl text-center max-w-3xl mx-auto;
  }

  #f-canvas {
    @apply !w-full !h-dvh relative z-40;
  }

  .box {
    @apply max-w-xs absolute;

    p {
      @apply text-base font-semibold lg:text-xl;
    }
  }
}
